<div class="container">
    <div class="image">
        <div class="wrap-image">
            <img [src]="change? imageOpen : imageClose" alt="">
            <button (click)="onChange()">{{change ? 'turn off':'turn on'}}</button>
        </div>
    </div>
    <hr>
    <div class="dataInput">
        <input [(ngModel)]='text' type="text">
        <p appRedColor [style.color]="text">you type: {{text | uppercase}} </p>
    </div>
</div>