.container {
    margin: 0 auto;
    width: 50%;
    .image{
        .wrap-image{
            width: 50%;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            align-items: center;
            button{
                margin: 5px;
            }
            img{
                width: 50%;
            }
        }
    }

    .dataInput{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}